{% extends 'base.html.twig' %}
{% block title %}Vacancy{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block body %}

    <div class="pt-5">
        <p>You approved candidate under Request # {{ vacancy.id }}</p>
    </div>

{% endblock %}