<form method="post" action="{{ path('php_developer_level_test_passed_delete', {'id': php_developer_level_test_passed.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ php_developer_level_test_passed.id) }}">
    <button class="btn">Delete</button>
</form>
