{% extends 'base.html.twig' %}

{% block title %}Edit PhpDeveloperLevelTestPassed{% endblock %}

{% block body %}
    <h1>Edit PhpDeveloperLevelTestPassed</h1>

    {{ include('php_developer_level_test_passed/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('php_developer_level_test_passed_index',{'id':user.id}) }}">back to list</a>

    {{ include('php_developer_level_test_passed/_delete_form.html.twig') }}
{% endblock %}
