{% extends 'emails/vacancy/template.twig' %}

{% block text %}

    <p>
        По вакансии на которую Вы подписаны появился кандидат. Кликните на кнопку ниже чтобы проверить их:
    </p>
{#    <a href="{{ url('vacancy_show_approved_interview_top_manager',{'id': vacancy.id}) }}">Check candidates</a>#}

{% endblock %}