{% extends 'emails/vacancy/template.twig' %}

{% block text %}

    <p>
        По открытой Вами вакансии появился кандидат. Кликните на кнопку ниже чтобы проверить его
    </p>

    <a href="{{ url('vacancy_show_approved_interview_department_manager',{'id': candidate.id, 'vacancy': vacancy.id}) }}">Check candidates</a>
{% endblock %}