{% extends 'emails/vacancy/template.twig' %}

{% block text %}
    <p>
        Request #{{ vacancy.id }} have appeared in request list
    </p>
    <a href="{{ url('vacancy_show',{'id': vacancy.id}) }}">Open request</a>
{% endblock %}