{% extends 'emails/sdt/template.twig' %}

{% block text %} <p>Прошу учесть запланированный мною перерыв в работе по контракту с {{ fromDate }} по {{ toDate }}
    включительно, на {{ daysCount }} рабочих дней, за свой счёт.<br/>
    На время моего отсутствия все предоставляемые мной услуги
    заказчику
    будут оказаны в полном объеме ЧП {{ actingPeople }} по
    взаимному
    согласованию.</p>{% endblock %}