{% extends 'base.html.twig' %}

{% block title %}Edit PhpDeveloperManagerRelation{% endblock %}

{% block body %}
    <h1>Edit PhpDeveloperManagerRelation</h1>

    {{ include('user_php_developer_level_relation/candidatesForm.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_show',{'id':contextUser.id}) }}">back to list</a>

    {{ include('user_php_developer_level_relation/_delete_form.html.twig') }}
{% endblock %}
