{% extends 'base.html.twig' %}

{% block title %}Vacancy{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block body %}
    <div>
        {{ include('recruiting/vacancy/showRecruiter/candidateEmployed/chooseUserForm.html.twig') }}
    </div>
{% endblock %}