{% extends 'base.html.twig' %}

{% block title %}New PhpDeveloperRiseRequest{% endblock %}

{% block body %}
    <h1>Create new PhpDeveloperRiseRequest</h1>

    {{ include('php_developer_rise_request/candidatesForm.html.twig') }}

    <a href="{{ path('php_developer_rise_request_index') }}">back to list</a>
{% endblock %}
