{% extends 'base.html.twig' %}

{% block title %}Edit VacancyLink{% endblock %}

{% block body %}
    <h1>Edit VacancyLink</h1>

    {{ include('recruiting/vacancy_link/candidatesForm.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vacancy_link_index', {'id': vacancy_link.id}) }}">back to list</a>

    {{ include('recruiting/vacancy_link/_delete_form.html.twig') }}
{% endblock %}
