{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text"></p>
                    <a href="{{ path('app_login') }}" class="card-link">Link</a>
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}