{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block menu %}

        <ul class="list-group list-group-flush">
            <a class="list-group-item" href="{{ path('sdt_index') }}">SDT request</a>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
{% endblock %}
