{% extends 'base.html.twig' %}

{% block title %}Qa profile{% endblock %}

{% block body %}
    <div class="row">
        <h3>Tests:</h3>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Technical skills</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Technical tests info</h6>
                    <a href="{{ path('qa_view_technical_skills') }}" class="card-link">Details</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Theoretical knowledge</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Theoretical tests info</h6>
                    <a href="{{ path('qa_view_theoretical_skills') }}" class="card-link">Details</a>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row"><h3>Projects:</h3></div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Project functionality knowledge</h5>
{#                    <h6 class="card-subtitle mb-2 text-muted">Rise info</h6>#}
{#                    <p class="card-text">Click here if you want to take info about rise</p>#}
{#                    <a href="{{ path('salary_raise') }}" class="card-link">Details</a>#}
{#                    #}{#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Project activity</h5>
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Required tasks to perform</h5>
{#                    <h6 class="card-subtitle mb-2 text-muted">Read documentation</h6>#}
{#                    <p class="card-text">Here you can read documentation</p>#}
{#                    <a href="https://docs.auto-toyz.com/documentation/" class="card-link">Details</a>#}
{#                    #}{#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
