{% extends 'base.html.twig' %}

{% block title %}Qa profile{% endblock %}

{% block body %}
    <div class="row">
        <h1>Project Functionality Knowledge</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Component</th>
                <th>Actual Points</th>
                <th>Required Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
