<form method="post" action="{{ path('salary_report_info_delete', {'id': salary_report_info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salary_report_info.id) }}">
    <button class="btn">Delete</button>
</form>
