{% extends 'base.html.twig' %}

{% block title %}Vacancy{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('default') }}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Vacancies</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('vacancy_index') }}">Request</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Request</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div>
        <p class="border border-warning rounded">Status:
            {% if vacancy.status == 'Issue have been assigned' %}
                <span>Search for a candidate(s) have been started</span>
            {% elseif vacancy.status == 'Search for a candidate(s) have been started'%}
                <span>CV Received</span>
            {% elseif vacancy.status == 'CV Received' %}
                <span>Candidates Interest is checked</span>
            {% elseif vacancy.status == 'Candidates Interest is checked'%}
                <span>CV approved by Department Manager</span>
            {% else %}
                <span>Search for a candidate(s) have been started</span>
            {% endif %}
        </p>
    </div>
    <div>
        <p>
            Ниже текст и перечень вопросов, которые вы должны задать кандидату.
            Ответы кандидата (а также дополнительные вопросы и ответы которые вы зададите) впишите в поле ниже
        </p>
        <p>
            Здравствуйте , …….
            Мы получили от Вас отклик на нашу вакансию ………

            Прошу уделить мне немного времени  для уточнения информации по Вашему резюме
            Перечень обязательных вопросов прединтервью для кандидатов, подаваемых на рассмотрение CR Programming team.
        </p>
        <ol>
            <li>
                Какова причина Вашего ухода из компании (если кандидат уволился и ищет работу)?
            </li>
            <li>
                Что вас мотивирует к поиску новой работы (если кандидат работает на текущий момент)?
            </li>
            <li>
                Почему Вы хотите сменить место проживания (если кандидат живет в другом городе)?
            </li>
            <li>
                Что Вас мотивирует к смене вида деятельности (если кандидат занимается другим видом деятельности, а претендует на разработчика )?

            </li>
            <li>
                Что Вы уже делаете в рамках нового вида деятельности: обучение, курсы и т.д (если кандидат
                занимается другим видом деятельности, а претендует на разработчика ?

            </li>
            <li>
                Что Вы делаете в рамках повышения своего профессионального уровня (обучение, курсы и т.д)?
            </li>
            <li>
                Есть ли у Вас свои проекты ( коммерческие - некоммерческие) ? Если не коммерческие - то с
                какой целью Вы их разрабатывали?

            </li>
            <li>
                Есть ли у Вас опыт с e-commerce проектом?
            </li>
            <li>
                Есть ли у Вас опыт работы с платежными системами или каталогами товаров?
            </li>
            <li>
                С какими базами данных работали?
            </li>
        </ol>
        <p>Спасибо .</p>
        <p>
            Давайте  теперь я немного расскажу Вам о нас и о самом проекте
        </p>
        <ol>
            <li>
                О проекте.
                Проект carid.com - это один из крупнейших интернет магазинов по автоспорту и
                автостайлингу на рынке США и Канады. Проект на рынке более 14 лет и продолжает расти и
                развиваться.
            </li>
            <li>
                Про условия сотрудничества.
                Для сотрудничества с проектом Вы должны быть Частным предпринимателем ( далее ЧП). Вы подписываете контракт с американской стороной. Если у вас нет ЧП  - наши консультанты проконсультируют Вас как оперативно открыть и вести Ваше ЧП.
                Для одесситов: если Вы оформите нотариальную  доверенность  - то ЧП откроют вместо Вас.
                Также для качественного предоставления услуг по контракту необходимо иметь годный к использованию домашний компьютер и скоростной доступ к сети Интернет.
            </li>
            <li>
                Про офис и график работы.
                Наш офис находится  на Люстдорфской дороге.
                Есть собственная парковка для автомобилей.
                График работы с 9:30 до 18-00, суббота и воскресенье  - выходной.

            </li>
            <li>
                О команде разработчиков.
                Сегодня команда разработчиков состоит из 50 человек, которые объединены в  команды по
                направлениям сайта.
            </li>
            <li>
                О ставке и бонусах.
                Уровень вашей ставки будет определен на техническом интервью. Он будет зависеть от результатов технического интервью с участием ведущих разработчиков и представителя проекта.
                Пересмотр ставок происходит регулярно.
                Кроме ставки у Вас есть возможность ежемесячно заработать бонус  - до 50 % от своей ставки по контракту. Как это работает? По завершению проектов проверяется соблюдение поставленных сроков,  качество кода и документация.
                Соблюдение этих критериев дает Вам возможность заработать бонус.

            </li>
            <li>
                Об отдыхе.
                Согласно контракту Вам будет предоставлено 24  оплачиваемых дня  в году  для отдыха и
                решения своих вопросов.
            </li>
            <li>
                Развитие.
                Вы можете повышать свой профессиональный уровень, принимая участие во внешних и внутренних конференциях ( в частности Code ID РНР Odessa Conf).  Участие во внешних конференциях проект компенсирует.
                Проект дает возможность профессионального и финансового роста для разработчиков.

            </li>
            <li>
                Подготовка к техническому интервью.
                Ваше резюме и данные опросника я отправляю на рассмотрение заказчику.
                Решение по Вашей кандидатуре я сообщу Вам в телефонном режиме.
                Далее мы определимся с Вами с датой и временем проведения технического интервью с представителем проекта.

            </li>
        </ol>
    </div>
    {{ include('vacancy/commentInterestForm.html.twig') }}
{% endblock %}