{% extends 'base.html.twig' %}

{% block title %}Approve candidate{% endblock %}
{% block menu %}{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Approve for request#</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center mt-5">
        <p>
            You send candidates estimation on Request#{{ vacancy.id }}
        </p>
        <a class="btn btn-warning" href="{{ path('vacancy_show_approved_interview_department_manager_candidates', {'id': vacancy.id}) }}">
            View all candidates for approval
        </a>
    </div>
{% endblock %}

