{% extends 'base.html.twig' %}

{% block title %}Candidate Deny{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Denial</li>
        </ol>
    </nav>
{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}

{{ include('recruiting/vacancy/showRecruiter/departmentManagerApproveCandidate/formDenialInterview.html.twig') }}

{% endblock %}