{% extends 'base.html.twig' %}

{% block title %}New PhpDeveloperStartTimeAndDateValue{% endblock %}

{% block body %}
    <h1>Create new PhpDeveloperStartTimeAndDateValue</h1>

    {{ include('php_developer_start_time_and_date_value/_form.html.twig') }}

    <a href="{{ path('php_developer_start_time_and_date_value_index') }}">back to list</a>
{% endblock %}
