<form method="post" action="{{ path('sdt_archive_delete', {'id': sdt_archive.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sdt_archive.id) }}">
    <button class="btn">Delete</button>
</form>
