{% extends 'base.html.twig' %}

{% block title %}New SdtArchive{% endblock %}

{% block body %}
    <h1>Create new SdtArchive</h1>

    {{ include('sdt_archive/candidatesForm.html.twig') }}

    <a href="{{ path('sdt_archive_index') }}">back to list</a>
{% endblock %}
