{% extends 'base.html.twig' %}

{% block title %}Hello PhpDeveloperProfileController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PHP developer Lvl</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">PHP developer level:<span class="badge badge-info">{{ userLevel }}</p>
                    {#<a href="{{ path('php_developer_salary_raise') }}" class="card-link">Details</a>#}
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Salary raise</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="{{ path('php_developer_salary_raise') }}" class="card-link">Details</a>
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
