{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h2>Required tests</h2>
    </div>
    <br/>
    <div class="row">
        {% for test in tests %}
            <div class="col-3">
                <div class="card" style="">
                    <div class="card-body">
                        <h5 class="card-title">{{ test.test.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text"></p>
                        {#<a href="#" class="card-link">Another link</a>#}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Passed: {% if test.passed %}<span
                                    class="badge badge-success">Passed</span>{% else %}<span
                                    class="badge badge-secondary">Not Passed</span>{% endif %}</li>

                    </ul>
                    <div class="card-body">
                        <a href="{{ test.test.link }}" class="card-link">Get Test</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        <h2>Required components knowledge</h2>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Salary rise</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="{{ path('php_developer_salary_raise') }}" class="card-link">Details</a>
                {#<a href="#" class="card-link">Another link</a>#}
            </div>
        </div>
    </div>


{% endblock %}

{% block title %}

{% endblock %}

