{% extends 'base.html.twig' %}

{% block title %}New PhpDeveloperManagerRelation{% endblock %}

{% block body %}
    <h1>Create new PhpDeveloperManagerRelation</h1>

    {{ include('php_developer_manager_relation/_form.html.twig') }}

    <a href="{{ path('user_show',{'id':contextUser.id}) }}">back to list</a>
{% endblock %}
