{% extends 'sdt/teamplate.twig' %}

{% block title %}Edit Sdt{% endblock %}

{% block body %}
    <h1>Edit Sdt</h1>
    {{ include('sdt/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
