{% extends 'holiday/teamplate.twig' %}

{% block title %}New Holiday{% endblock %}

{% block body %}
    <h1>Create new Holiday</h1>

    {{ include('holiday/_form.html.twig') }}

    <a href="{{ path('holiday_index') }}">back to list</a>
{% endblock %}
