{% extends 'base.html.twig' %}

{% block title %}Edit Candidate{% endblock %}

{% block body %}
    <h1>Edit Candidate</h1>

    {{ include('candidate/_form.html.twig', {'button_label': 'Update'}) }}

    {% if app.request.get('vacancy') is null %}
        <div>
            <a class="btn btn-primary" href="{{ path('candidate_index') }}">back to list</a>
        </div>
    {% endif %}

{% endblock %}
